<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>606565421874-ogjpv5leepao5ultn3vvmr003578g8pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606565421874-ogjpv5leepao5ultn3vvmr003578g8pp</string>
	<key>API_KEY</key>
	<string>AIzaSyBive3ZsLMhWerR3B426OsiaaxmzYtxDec</string>
	<key>GCM_SENDER_ID</key>
	<string>606565421874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abbey.Spankrr</string>
	<key>PROJECT_ID</key>
	<string>spankrr-1f273</string>
	<key>STORAGE_BUCKET</key>
	<string>spankrr-1f273.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606565421874:ios:2cb1aef07dacc2f9</string>
	<key>DATABASE_URL</key>
	<string>https://spankrr-1f273.firebaseio.com</string>
</dict>
</plist>